.brainstormdb-title {
    text-align: center;
    }


    
    .brainstormdb-title-header p {
        background: linear-gradient(to right, rgb(85, 162, 115), rgb(45, 168, 173));
        padding: 5px 10px;
        border-radius: 25px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        font-size: calc(10px + 2vmin);
        color: white;
        font-family: 'Poppins';
        position: absolute;
        top: 20px;
        left: 20px;
      }
      

      .search-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: inline-flex;
        width: 1000px; /* change this value to set the desired width */
      }
      
      
    
      .search-bar input {
        border: 1px solid #ccc;
        border-radius: 25px;
        padding: 5px 10px;
        width: 300px;
        font-size: calc(10px + 2vmin);
        font-family: 'Poppins';
      }

      .search-bar button {
        border: 1px solid #ccc;
        border-radius: 25px;
        padding: 5px 10px;
        font-size: calc(10px + 2vmin);
        font-family: 'Poppins';
      }


      .example-searches {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: inline-flex;
        width: 1000px; /* change this value to set the desired width */
      }

