.options-pill {
    text-align: center;
    }


    
    .options-pill-header p {
        background: linear-gradient(to right, rgb(85, 162, 115), rgb(45, 168, 173));
        padding: 5px 10px;
        border-radius: 25px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        font-size: calc(10px + 2vmin);
        color: white;
        font-family: 'Poppins';
        position: absolute;
        top: 20px;
        right: 200px;
      }
      
    
    
